{% extends 'baseProduct.html' %} {% block title %}
<title>RGB Gaming Chair</title>
{% endblock %}

<main>
  {% block content %}
  <section>
    <div></div>
    <img
      src="{{ url_for('static', filename='PRODUCT_IMAGES/rgbgamingchair.avif') }}"
      alt="RGB Gaming Chair"
    />
    <div class="specs">
      <div>
        <h1>RGB Gaming Chair</h1>
      </div>
      <h2>Specifications</h2>

      <div class="spec-item">
        <span class="label">RGB Lighting System:</span>
        <span class="value">Colors: 16.7 million RGB colors</span>
      </div>

      <div class="spec-item">
        <span class="label">Build & Frame</span>
        <span class="value"
          >rame: steel or reinforced metal (for durability), Base: nylon /
          aluminum / steel 5-star base, Wheels: PU silent caster wheels</span
        >
      </div>

      <div class="spec-item">
        <span class="label">Ergonomic Design</span>
        <span class="value"
          >Adjustable backrest: 90° – 155° (some up to 180°)</span
        >
      </div>

      <div class="spec-item">
        <span class="label">Adjustability Features</span>
        <span class="value"
          >Height adjustment (gas lift Class 3 or Class 4), 2D / 3D / 4D
          armrests (height, angle, forward/back, rotation) Tilt & recline lock
          system Rocking mode (optional)</span
        >
      </div>

      <div class="spec-item">
        <span class="label">Size & Dimensions</span>
        <span class="value"
          >Seat width: ~50–56 cm, Backrest height: ~80–90 cm, Chair height
          range: adjustable 120–135 cm total height, Recommended height: 150 cm
          – 190 cm</span
        >
      </div>

      <div class="spec-item">
        <span class="label">Display:</span>
        <span class="value">Full HD (1920×1080) minimum</span>
      </div>

      <div class="spec-item">
        <span class="label">Refresh Rate:</span>
        <span class="value">N/A</span>
      </div>

      <div class="spec-item">
        <span class="label">Cooling:</span>
        <span class="value">N/A</span>
      </div>

      <div class="spec-item">
        <span class="label">Battery:</span>
        <span class="value">10 – 15 hours (depends on usage)</span>
      </div>

      <div class="spec-item">
        <span class="label">Ports:</span>
        <span class="value">Regular ports</span>
      </div>

      <div class="spec-item">
        <span class="label">OS:</span>
        <span class="value">Windows 10</span>
      </div>
    </div>
  </section>
  {% endblock %}
</main>
