<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>144hz Gaming Monitor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/product_images.css') }}"
    />
  </head>

  <body>
    <div>
      <nav>
        <h3 class="brandName">DiwaTech</h3>
        <ul>
          <li><a href="{{ url_for('product') }}">Back</a></li>
          <li><a href="{{ url_for('deals') }}">New Arrivals</a></li>
          <li><a href="{{ url_for('main') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Help/Support</a></li>
        </ul>
      </nav>
    </div>
    <section>
      <div></div>
      <img
        src="{{ url_for('static', filename='PRODUCT_IMAGES/curvedmonitor.jpg') }}"
        alt="Gaming "
      />
      <div class="specs">
        <div>
          <h1>240hz CURVED MONITOR</h1>
        </div>
        <h2>Specifications</h2>

        <div class="spec-item">
          <span class="label">Refresh rate</span>
          <span class="value">240Hz</span>
        </div>

        <div class="spec-item">
          <span class="label">Resolution</span>
          <span class="value">2560×1440 (QHD)</span>
        </div>

        <div class="spec-item">
          <span class="label">Panel type</span>
          <span class="value">VA (fast/QLED)</span>
        </div>

        <div class="spec-item">
          <span class="label">Adaptive sync</span>
          <span class="value">FreeSync + G-Sync</span>
        </div>

        <div class="spec-item">
          <span class="label">Input lag</span>
          <span class="value">Usually very low on gaming monitors (<5ms)</span>
        </div>

        <div class="spec-item">
          <span class="label">Curvature</span>
          <span class="value">1000R (very curved)</span>
        </div>

        <div class="spec-item">
          <span class="label">Connectivity</span>
          <span class="value">DisplayPort (preferred for 144Hz+)</span>
        </div>

        <div class="spec-item">
          <span class="label">Contrast ratio</span>
          <span class="value">~2500–3000:1</span>
        </div>

        <div class="spec-item">
          <span class="label">Battery:</span>
          <span class="value">10 – 15 hours (depends on usage)</span>
        </div>

        <div class="spec-item">
          <span class="label">Ports:</span>
          <span class="value">Regular ports</span>
        </div>

        <div class="spec-item">
          <span class="label">OS:</span>
          <span class="value">Windows 10</span>
        </div>
      </div>
    </section>
  </body>
</html>
