{% extends 'basePages.html' %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact - DiwaTech</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/contact.css') }}"
    />
  </head>

  <body>
    <header class="navBar">
      <h1>DiwaTech</h1>
      <nav>
        <a href="{{ url_for('product.main') }}">Home</a>
        <a href="{{ url_for('product.product') }}">Products</a>
        <a href="{{ url_for('product.deals') }}">Deals</a>
      </nav>
    </header>

    <main>

    <section class="contact">
      <h1>Contact Us</h1>
      <p>Got questions? Reach out to us anytime!</p>

      <div class="contact-container">
        <form class="contact-form">
          <input type="text" placeholder="Your Name" required />
          <input type="email" placeholder="Your Email" required />
          <textarea placeholder="Your Message" rows="5" required></textarea>
          <button type="submit">Send Message</button>
        </form>

        <div class="contact-info">
          <h3>Our Info</h3>
          <p>📍 Unisan,Quezon</p>
          <p>📧 narbrianpantoja59.com</p>
          <p>📞 0991-818-8595</p>

          <div class="socials">
            <a href="https://www.facebook.com/neilalbertbrillon.rondero"
              >Facebook</a
            >
            <a href="#">YouTube</a>
            <a href="#">LinkedIn</a>
          </div>
        </div>
      </div>
    </section>
    </main>

    {% endblock %}

    
  </body>
</html>
