{% extends 'adminBase.html' %}

{% block title %}
  <title>Add Product</title>
{% endblock %}
{% block content %}
    <main>
      <h2>Add Product</h2>

      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
      {% for category, message in messages %}
      <p><strong>{{ message }}</strong></p>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <!-- Create form -->
      <form method="POST" action="{{ url_for('product.edit_product', product_id=product.id) }}">
        <label>Product Name:</label><br />
        <input type="text" name="product_name" required value="{{product.product_name}}"/><br /><br />

        <label>Product Description:</label><br />
        <input type="text" name="product_details" required value="{{product.product_description}}"/><br /><br />

        <label>Price:</label><br />
        <input type="number" step="1" name="price" required value="{{product.price}}"/><br /><br />

        <label>Category:</label><br />
        <input type="text" name="category" required value="{{product.category}}" /><br /><br />

        <label>Stocks:</label><br />
        <input type="number" step="1" name="stocks" required value="{{product.stocks}}" /><br /><br />

        <label>Product Image:</label><br />
        <input type="file" name="file_path" required value="{{product.file_path}}" /><br /><br />

        <label>Specification:</label><br />
        <input type="text" name="specification" required value="{{product.specification}}"/><br /><br />

        <button type="submit">Save Product</button>
        <a href="{{ url_for('product.adminList')}}">Cancel</a>
      </form>
    </main>
{% endblock %}