{% extends 'baseProduct.html' %} {% block title %}
<title>WIRELESS GAMING MOUSE</title>
{% endblock %}

<main>
  {% block content %}
  <section>
    <div></div>
    <img
      src="{{ url_for('static', filename='PRODUCT_IMAGES/gamingmouse.jpg') }}"
      alt="Wireless Gaming Mouse"
    />
    <div class="specs">
      <div>
        <h1>WIRELESS GAMING MOUSE</h1>
      </div>
      <h2>Specifications</h2>

      <div class="spec-item">
        <span class="label">Refresh rate</span>
        <span class="value">144Hz = 144 frames per second</span>
      </div>

      <div class="spec-item">
        <span class="label">Resolution</span>
        <span class="value"
          >3840×2160 (4K) → very sharp but needs powerful GPU</span
        >
      </div>

      <div class="spec-item">
        <span class="label">Panel type</span>
        <span class="value"
          >IPS Best colors & viewing angles Slightly slower (but modern ones are
          fast) VA Better contrast (deep blacks) Slight smearing in dark scenes
          TN Fastest response Worse colors (mostly outdated now)</span
        >
      </div>

      <div class="spec-item">
        <span class="label">Adaptive sync</span>
        <span class="value">AMD FreeSync / NVIDIA G-Sync</span>
      </div>

      <div class="spec-item">
        <span class="label">Input lag</span>
        <span class="value">Usually very low on gaming monitors (<5ms)</span>
      </div>

      <div class="spec-item">
        <span class="label">Screen size & aspect ratio</span>
        <span class="value">Ultrawide (34"+) → immersive gaming</span>
      </div>

      <div class="spec-item">
        <span class="label">Connectivity</span>
        <span class="value">DisplayPort (preferred for 144Hz+)</span>
      </div>

      <div class="spec-item">
        <span class="label">Cooling:</span>
        <span class="value">N/A</span>
      </div>

      <div class="spec-item">
        <span class="label">Battery:</span>
        <span class="value">10 – 15 hours (depends on usage)</span>
      </div>

      <div class="spec-item">
        <span class="label">Ports:</span>
        <span class="value">Regular ports</span>
      </div>

      <div class="spec-item">
        <span class="label">OS:</span>
        <span class="value">Windows 10</span>
      </div>
    </div>
  </section>
  {% endblock %}
</main>
