{% extends 'basePages.html' %}
{% block content %}
    
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiwaTech / Top Picks🔥</title>
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/secondPage.css') }}">
</head>

<body>

    <header class="navBar">
        <h1>DiwaTech</h1>
        </div>
        <nav>
            <div class="choices">

                <select id="category" name="category">
                    <option disabled selected>Choose category</option>
                    <option value="laptop">Laptop</option>
                    <option value="phone">Phone</option>
                    <option value="accessories">Accessories</option>
                    <option value="gaming">Gaming Gear</option>
                </select>

                <select>
                    <option disabled selected>Sort by Price</option>
                    <option>Low to High</option>
                    <option>High to Low</option>
                    <option>Newest</option>
                </select>
            </div>
            <a href="{{ url_for('main') }}">Home</a>
            <a href="{{ url_for('product') }}">Products</a>
            <a href="{{ url_for('deals') }}">Deals</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>

    <main>

    <section class="Description">
        <h2>Latest Tech Gadgets</h2>
        <p>Find the best laptops, phones, and accessories</p>
    </section>

    <h2 class="bestsellers">Top Gaming Picks🔥</h2>

    <section class="products">
        {% for product in products %}
            
        

        <div class="product-card">
            <img src="{{ url_for('static', filename=product.imageFilename) }}" height="200px" alt="Laptop">
            <h3>{{ product.productName }}</h3>
            <p>{{ product.description }}</p>
            <span>{{ product.price }}</span>
            <button id="addToCartButton" onclick="showHowMany('{{ product.showHowMany }}')">Add to Cart</button>
            <form action="/secondPage" method="post">
            <div class="quantity">
                <div class="howMany" id="{{ product.howMany }}" style="display: none;">
                    <button class="plusCartNum" onclick="minus('{{ product.qty }}')">-</button>
                    <input type="number" value="1" min="1" max="20" id="qty1">
                    <button class="minosCartNum" onclick="plus('{{ product.qty }}')">+</button>
                    <button>Add</button>
                    <button onclick="foldQuantity('{{ product.showHowMany }}')">X</button>
                </div>
            </div>
            </form>
        </div>
        {% endfor %}


    </section>
    </main>
    {% endblock %}


    
</body>

</html>